@model ServiceViewModel

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Service";
}

<sectiion>
    <img class="img-fluid" src="~/images/book-service-banner.jpg" alt="About-banner" style="width:100%;height: auto;">
</sectiion>

<section >
    <div class="container mt-2 text-center ">
        @if (ViewBag.bookId != null)
        {
            <div class="alert alert-success alert-dismissible fade show bookalert" role="alert">
                <h4><strong>Congratulation!</strong> Your booking completed successfully.</h4>
                <h2>Booking Id : @ViewBag.bookId</h2>
                <h6>Please save id for future reference</h6>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</section>

<section class="few-words-section">

    <div class="container few-word-div">
        <p>Set up your cleaning service</p>
    </div>

    <div class="faq-pattern">
        <hr>
        <img src="~/images/star.png" style="width: 24px;height: 25px;">
        <hr class="hr2">
    </div>
</section>

<section>
    <section class="book-service-section">

        <div class="service-tabs">
            <ul class="nav flex-nowrap d-flex justify-content-center">
                <li class="nav-item" role="button">
                    <button class="nav-link d-flex align-items-center justify-content-center  tab1" id="service-tab-1" type="button" onclick="show1()" >
                        <img id="set-up-img" src="~/images/setup-service-white.png" asp-append-version="true">
                        <p id="set-p-text">Setup Service</p>
                    </button>
                </li>

                <li class="nav-item" role="button">
                    <button class="nav-link d-flex align-items-center justify-content-center nav-flex " id="service-tab-2" type="button" onclick="show2()" disabled >
                        <img id="schedule-img" src="~/images/schedule.png" asp-append-version="true">
                        <p id="schedule-p-text">Schedule & Plan</p>
                    </button>
                </li>

                <li class="nav-item" role="button">
                    <button class="nav-link d-flex align-items-center justify-content-center nav-flex" id="service-tab-3" type="button" onclick="show3()" disabled >
                        <img id="your-detail-img" src="~/images/details.png" asp-append-version="true">
                        <p id="detail-p-text">Your Details</p>
                    </button>
                </li>

                <li class="nav-item" role="button">
                    <button class="nav-link d-flex align-items-center justify-content-center nav-flex" id="service-tab-4" type="button" onclick="show4();" disabled >
                        <img id="payment-img" src="~/images/payment.png" asp-append-version="true">
                        <p id="payment-p-text">Make Payment</p>
                    </button>
                </li>
            </ul>




            <form>
                <div class="set-up-service mt-4 " id="div1">

                    <div class="d-flex flex-column">
                        <div class="form-group">
                            <p><b>Please Enter Your Zipcode:</b></p>
                        </div>
                        <div class="d-flex flex-row">
                            <div>
                                <input type="text" class="form-control zipcode" asp-for="ZipcodeValue" id="zipcode">

                                @if (ViewBag.zipmsg != null)
                                {
                                    <div asp-validation-for="ZipcodeValue" class="zip-span">
                                        <p class="text-success">@ViewBag.zipmsg</p>
                                    </div>
                                }
                                @if (ViewBag.zipmsg == null)
                                {
                                    <div asp-validation-for="ZipcodeValue" class="zip-span">
                                        <p class="text-danger" id="zipcode-error">@ViewBag.zipmsg2</p>
                                    </div>
                                }
                            </div>

                            <div>
                                <button id="zip-btn" class="check-zip-btn">Check Availibility</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                $('#zip-btn').click(function (data) {
                    data.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Service/Check",
                        dataType: "json",
                        data: { zipcodeValue: $('#zipcode').val() },
                        success: function (data) {
                            console.log(data);
                            if (data) {
                                return show2();
                            }
                            else {
                                $('#zipcode-error').text("We are not providing service in this area. We will notify you if any helper would start working near your area");
                            }
                        }
                    });
                });
            </script>


            <form>

                <div class="schedule-plan mt-4" id="div2">

                    <div class="row">
                        <div class="col-lg-5 form-group ">
                            <p><b>When do you need cleaner:</b></p>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6 form-group">
                            <p><b>How long do you need your cleaner to stay:</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                            <input class="form-control form-check-inline" id="datepicker" onchange="S_Date()" asp-for="ServiceStartDate" type="date">

                            <select class="form-control form-check-inline" id="scheduled_time" onchange="Time()" asp-for="ServiceTime">
                                <option selected value="8:00">8:00</option>
                                <option value="8:30">8:30</option>
                                <option value="9:00">9:00</option>
                                <option value="9:30">9:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <select class="form-control form-check-inline" id="total_hours" onchange="Hours()" asp-for="ServiceHours">
                                <option value="3">3:00 Hours</option>
                                <option value="3.5">3:30 Hours</option>
                                <option value="4">4:00 Hours</option>
                                <option value="4.5">4:30 Hours</option>
                                <option value="5">5:00 Hours</option>
                                <option value="5.5">5:30 Hours</option>
                                <option value="6">6:00 Hours</option>
                                <option value="6.5">6:30 Hours</option>
                                <option value="7">7:00 Hours</option>
                                <option value="7.5">7:30 Hours</option>
                                <option value="8">8:00 Hours</option>
                                <option value="8.5">8:30 Hours</option>
                                <option value="9">9:00 Hours</option>
                                <option value="9.5">9:30 Hours</option>
                                <option value="10">10:00 Hours</option>
                                <option value="10.5">10:30 Hours</option>
                                <option value="11">11:00 Hours</option>
                                <option value="11.5">11:30 Hours</option>
                                <option value="12">12:00 Hours</option>
                            </select>
                        </div>
                    </div>

                    <hr>

                    <div class="extra_services">
                        <p><b>Extra Services</b></p>
                    </div>

                    <div class="services-img">
                        <input id="count" value="0" type="hidden" asp-for="ExtraHours" />
                        <div>
                            <input type="checkbox" id="mycheckbox1" onclick="cabinet()"/>
                            <label for="mycheckbox1" onclick="cabinet()" class="check-label"><img src="~/images/service_1.png" id="cabinetimg"></label>
                            <p>Inside cabinets</p>
                        </div>
                        <div>
                            <input type="checkbox" id="mycheckbox2" onclick="fridge()" />
                            <label for="mycheckbox2" onclick="fridge()" class="check-label"><img src="~/images/service_2.png" id="fridgeimg"></label>
                            <p>Inside fridge</p>
                        </div>
                        <div>
                            <input type="checkbox" id="mycheckbox3" onclick="oven()" />
                            <label for="mycheckbox3" onclick="oven()" class="check-label"><img src="~/images/service_3.png" id="ovenimg"></label>
                            <p>Inside oven</p>
                        </div>
                        <div>
                            <input type="checkbox" id="mycheckbox4" onclick="laundry()" />
                            <label for="mycheckbox4" onclick="laundry()" class="check-label"><img src="~/images/service_4.png" id="laundryimg"></label>
                            <p>Laundry wash & dry</p>
                        </div>
                        <div>
                            <input type="checkbox" id="mycheckbox5" onclick="windows()" />
                            <label for="mycheckbox5" onclick="windows()" class="check-label"><img src="~/images/service_5.png" id="windowimg"></label>
                            <p>Interior windows</p>
                        </div>

                    </div>

                    <hr>

                    <div class="commnets">
                        <p><b>Comments</b></p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="comments" asp-for="Comments" rows="3"></textarea>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" asp-for="HasPets" class="form-check-input" id="pet_chk">
                        <label class="form-check-label" for="pets">I have pets at home</label>
                    </div>

                    <div class="zip-span">
                        <p class="text-danger" id="schedule-error"></p>
                    </div>

                    <hr>
                    <button id="schedule-btn" class="check-zip-btn" style="float: right;">Continue</button>
                </div>

            </form>

            <script type="text/javascript">
                $('#schedule-btn').click(function (data) {
                    data.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Service/Schedule",
                        dataType: "json",
                        data: { ServiceStartDate: $('#datepicker').val(), ServiceTime: $('#scheduled_time').val(), ServiceHours: $('#total_hours').val(), ExtraHours: $('#count').val(), Comments: $('#comments').val(), HasPets: $('#pet_chk:checked').val()},
                        /* ServiceExtraId: $('mycheckbox1:checked').val(), ServiceExtraId: $('mycheckbox2:checked').val(), ServiceExtraId: $('mycheckbox3:checked').val(), ServiceExtraId: $('mycheckbox4:checked').val(), ServiceExtraId: $('mycheckbox5:checked').val()
                           var extraSerArr[] = [$('mycheckbox1:checked').val(), $('mycheckbox2:checked').val(), $('mycheckbox3:checked').val(), $('mycheckbox4:checked').val(), $('mycheckbox5:checked').val()];
                         */

                        success: function (data) {
                            console.log(data);
                            if (data) {
                                return show3();
                            }
                            else {
                                $('#schedule-error').text("Something went wrong");
                            }

                        }
                    });
                });
            </script>






            <form>
                <div class="details" id="div3">

                    <div id="address_div" class="container" method="post" action="@Url.Action("Details")">

                    </div>
                    <div class="row address " id="AddForm">

                        <div class="row">
                            <div class="col-lg-6">
                                <label>Street Name</label>
                                <input type="text" class="form-control" placeholder="Enter Street Name" id="street" asp-for="AddressLine1">
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                <label>House Number</label>
                                <input type="text" class="form-control" placeholder="Enter House Number" id="house_no" asp-for="AddressLine2">
                                <span asp-validation-for="AddressLine2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Postal code</label>
                                <input type="text" class="form-control" placeholder="Enter Postalcode" id="postalcode" asp-for="PostalCode">
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="Enter City" id="city" asp-for="City">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Phone no</label>
                                <div class="form-group mt-2">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">+49</div>
                                        </div>
                                        <input class="form-control" type="tel" id="MobileNo" placeholder="Mobile Number" asp-for="Mobile">
                                    </div>
                                </div>
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div>
                            <button class="saveAdd" value="saveAdd" name="action" id="addNewAddress">Save</button>
                            <input type="button" value="Cancel" class="cancelAdd" onclick="cancelAdd()">
                        </div>
                    </div>

                    <div class="zip-span">
                        <p class="text-danger" id="details-error"></p>
                    </div>

                    <button class="check-zip-btn " name="action" value="addSerAdd" style="float: right;" id="details-btn">Continue</button>
                    
                </div>

            </form>
            <script type="text/javascript">
                $('#addNewAddress').click(function (data) {
                    data.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Service/Details",
                        dataType: "json",
                        data: { AddressLine1: $('#street').val(), AddressLine2: $('#house_no').val(), City: $('#city').val(), PostalCode: $('#postalcode').val(), Mobile: $('#MobileNo').val(), action: $('#addNewAddress').val() },

                        success: function (data) {
                            console.log(data);
                            if (data) {
                                return show3();
                            }
                            else {
                                $('#details-error').text("Something went wrong");
                            }

                        }
                    });
                });

                $('#details-btn').click(function (data) {
                    data.preventDefault();
                $.ajax({
                    type: "POST",
                url: "/Service/Details",
                dataType: "json",
                data: {Address_radio: $('#checked_add:checked').val(), action: $('#details-btn').val() },

                success: function (data) {
                    console.log(data);
                if (data) {
                            return show4();
                        }
                else {
                    $('#details-error').text("Something went wrong");
                        }

                    }
                });
            });
        </script>
            

            <form method="post" action="@Url.Action("payment")">

                <div class="make_payment mt-4" id="div4">

                    <div class="row">
                        <div class="col">
                            <p><b>Pay securely on Helperland payment gateway</b></p>

                            <div class="row form-group">
                                <div class="col-lg-10">
                                    <label class="form-label">Enter card number</label>
                                    <input type="tel" class="form-control" pattern="[0-9]" placeholder="XXXX XXXX XXXX XXXX" minlength="16" maxlength="16">
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-lg-10 d-flex align-items-center ">
                                    <div class="">
                                        <label class="form-label">Exp. Date</label>
                                        <input type="text" onfocus="(this.type='month')" class="form-control w-75" placeholder="MM/YYYY">
                                    </div>
                                    <div class="">
                                        <label class="form-label">CVV</label>
                                        <input type="password" maxlength="3" minlength="3" class="form-control w-75" placeholder="CVV">
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <hr>
                            <div class="row form-group">
                                <div class="col-lg-10 d-flex align-items-center justify-content-end">
                                    Accepted Cards
                                </div>
                                <div class="col-lg-10 d-flex align-items-center justify-content-end">

                                    <img src="~/images/maestro.svg" style="height: 30px;width: 30px;">
                                    <img src="~/images/mastercard.svg" style="height: 30px;width: 30px;">
                                    <img src="~/images/visa.svg" style="height: 30px;width: 30px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="form-check-inline">
                                        <span class="terms">
                                            I accepted <a href="#"> terms and conditions</a>, the <a href="#">cancellation policy</a> and the <a href="#">privacy policy</a>.
                                            I confirm that Helperland starts to execute the contract before the expiry of the withdrawal period
                                            and I lose my right of withdrawal as a consumer with full performance of the contract.
                                        </span>
                                    </label>

                                    <hr>
                                </div>

                            </div>
                            <button formmethod="post" class="check-zip-btn " style="float: right;">Complete Booking</button>

                        </div>

                    </div>
                </div>

            </form>

        </div>

        <div class="payment-slip">
            <div class="card">
                <div class="card-header">
                    <p class="card-title">
                        Payment Summary
                    </p>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p id="date">2022-02-02</p>
                        <p id="time">8:00 AM</p>
                    </div>
                    <div>
                        <p><b class="sub-title">Duration</b></p>
                    </div>

                    <div class="duration">
                        <p>Basic<span id="basic_hours"> 3 Hrs</span></p>
                        <p></p>
                    </div>

                    <p><b class="sub-title">Extras</b></p>

                    <p class="d-none" id="1_extra">Inside cabinets(extra)<span>30 mins</span></p>
                    <p class="d-none" id="2_extra">Inside fridg(extra)<span>30 mins</span></p>
                    <p class="d-none" id="3_extra">Inside oven(extra)<span>30 mins</span></p>
                    <p class="d-none" id="4_extra">Laundry wash and dry(extra)<span>30 mins</span></p>
                    <p class="d-none" id="5_extra">Interior windows(extra)<span>30 mins</span></p>
                    <hr>
                    <p><b class="sub-title">Total Service Time<span id="total_time">3 Hrs</span></b></p>
                    <hr>
                    <p><b class="sub-title">Sub total(for extra services)<span id="sub_total">00₹</span></b></p>
                    <p class="total-pay"><b>Total Payment<span class="paymentsub" id="total">60₹</span></b></p>
                    <br>

                </div>
                <div class="card-footer" role="button" data-toggle="modal" data-target="#include">
                    <p><img src="~/images/smiley.png"><span>  See What is always include</span></p>
                </div>
            </div>

            <div class="service-faqs">
                <p class="service-faq-title">Questions ?</p>
                <div class="row">
                    <div class="col-0"><img src="~/images/vector-smart-object.png" href="#demo1" role="button" data-toggle="collapse" data-target="#demo1" aria-expanded="false" aria-controls="demo1" id="right-arrow" onclick="transformArrow(this)"></div>
                    <div class="col-10 collapse-title">What's included in a cleaning?</div>
                    <div class="col-10 collapse-content collapse" id="demo1">Bedroom, Living Room & Common Areas,Bathrooms,Kitchen,Extras</div>
                </div>
                <hr class="faq-hr">
                <div class="row">
                    <div class="col-0"><img src="~/images/vector-smart-object.png" href="#demo1" role="button" data-toggle="collapse" data-target="#demo2" aria-expanded="false" aria-controls="demo2" id="right-arrow" onclick="transformArrow(this)"></div>
                    <div class="col-10 collapse-title">Which Helperland professional will come to my place?</div>
                    <div class="col-10 collapse-content collapse" id="demo2">Helperland has a vast network of experienced, top-rated cleaners. Based on the time and date of your request, we work to assign the best professional available.Like working with a specific pro? Add them to your Pro Team from the mobile app and they'll be requested first for all future bookings.You will receive an email with details about your professional prior to your appointment.</div>
                </div>
                <hr class="faq-hr">
                <div class="row">
                    <div class="col-0"><img src="~/images/vector-smart-object.png" href="#demo3" role="button" data-toggle="collapse" data-target="#demo3" aria-expanded="false" aria-controls="demo2" id="right-arrow" onclick="transformArrow(this)"></div>
                    <div class="col-10 collapse-title">Can I skip or reschedule bookings?</div>
                    <div class="col-10 collapse-content collapse" id="demo3">You can reschedule any booking for free at least 24 hours in advance of the scheduled start time. If you need to skip a booking within the minimum commitment, we’ll credit the value of the booking to your account. You can use this credit on future cleanings and other Helperland services.</div>
                </div>
                <hr class="faq-hr">
                <div class="row">
                    <div class="col-0 redirect-faq"><a href="@Url.Action("FAQ","Home")">For more help</a></div>
                </div>

            </div>
        </div>


    </section>

</section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary payment-modal-btn" data-toggle="modal" data-target="#exampleModalLong">
    Payment Summary
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog2 " role="document">
        <div class="modal-content">
            <div class="modal-header m-h">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <p>
                        Payment Summary
                    </p>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="close-modal"><i class="fas fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <p id="date1">2022-02-02</p>
                    <p id="time1">8:00 AM</p>
                </div>
                <p><b class="sub-title">Duration</b></p>
                <div class="duration">
                    <p>Basic<span id="basic_hours1"> 3 Hrs</span></p>
                    <p></p>
                </div>
                <p><b class="sub-title">Extras</b></p>

                <p class="d-none" id="1_extra1">Inside cabinets(extra)<span>30 mins</span></p>
                <p class="d-none" id="2_extra2">Inside fridg(extra)<span>30 mins</span></p>
                <p class="d-none" id="3_extra3">Inside oven(extra)<span>30 mins</span></p>
                <p class="d-none" id="4_extra4">Laundry wash and dry(extra)<span>30 mins</span></p>
                <p class="d-none" id="5_extra5">Interior windows(extra)<span>30 mins</span></p>
                <hr>
                <p><b class="sub-title">Total Service Time<span id="total_time1">3 Hrs</span></b></p>
                <hr>
                <p><b class="sub-title">Sub total(for extra services)<span id="sub_total1">00₹</span></b></p>
                <p class="total-pay"><b>Total Payment<span class="paymentsub" id="total1">60₹</span></b></p>
                <br>
            </div>
                <div class="modal-footer" role="button" data-toggle="modal" data-target="#include">
                    <p><img src="~/images/smiley.png"> <span>  See What is always include </span></p>
                </div>
            </div>
    </div>
</div>


<!-- Include Modal -->
<div class="modal fade" id="include" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog3 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <p>
                        <b>What cleaning with us includes</b>
                    </p>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <p><b>Living rooms and bedrooms</b></p>

                            <p>
                                <img src="~/images/included.png">
                                Cleaning of mirrors, glass and other surfaces
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Cleaning of the floors
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Emptying Recycle Bins
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Tidy
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Making beds
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p><b>Bathroom</b></p>
                            <p>
                                <img src="~/images/included.png">
                                Cleaning of guard basin, toilet, shower and tub
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Cleaning of mirrors, glass and other surfaces
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Cleaning of the floors
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Emptying of waste containers
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p><b>Kitchen</b></p>
                            <p>
                                <img src="~/images/included.png">
                                Dust removal on accessible surfaces
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Filling the dishwasher or washing the dishes
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Cleaning of the floors
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Emptying of waste containers
                            </p>
                            <p>
                                <img src="~/images/included.png">
                                Cleaning of the sink and stove (outside)
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<a href="#top" class="to-top">
    <img src="~/images/up-aero.png">
</a>


@if (ViewBag.Msg != null)
{
    <script type="text/javascript">

            function displayMsg() {
                alert("Booking Completed with Reference ID: @ViewBag.Msg");
            };
    </script>

}  