<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
@{
    Layout = null;
}
@model IEnumerable<HelperLand.Models.ServiceRequest>


<table class="table service-table table-hover table-responsive-xl" id="example">
    <thead>
        <tr>
            <th class="table-heading">Service Id </th>
            <th class="table-heading">Service Date </th>
            <th class="table-heading">Customer Details </th>
            <th class="table-heading">Payment  </th>
            <th class="table-heading">Actions  </th>

        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            if (item.servicerequest.Status == null)
            {
                var total_time = item.servicerequest.ServiceHours + item.servicerequest.ExtraHours;
                decimal t = (decimal)total_time;
                TimeSpan span = new TimeSpan(0, Convert.ToInt32(total_time), Convert.ToInt32(t - Math.Truncate(t)) * 6, 0);
                var time = item.servicerequest.ServiceStartDate.Add(span).ToString("HH:mm");
        <tr>
            <td>
                @item.servicerequest.ServiceRequestId
            </td>
            <td onclick="getServiceDetails(@item.servicerequest.ServiceRequestId)" id="service_details">
                <div>
                    <span><img src="~/images/calendar2.png"></span>  <b>@item.servicerequest.ServiceStartDate.ToString("dd/MM/yyyy") </b>
                </div>
                <div>
                    <span><img src="~/images/layer-14.png"></span>  @item.servicerequest.ServiceStartDate.ToString("HH:mm") - @time
                </div>
            </td>
            <td>
                <div>
                    David Bough
                </div>
                <div>
                    <span><img src="./assests/images/layer-15.png"></span>  @item.serviceRequestAddress.Id
                </div>
            </td>
            <td class="payment-clm">@item.servicerequest.TotalCost<span style="font-size:20px;">₹</span></td>

            <td class="d-flex justify-content-around">
                <button class="rescheule-btn" onclick="AcceptService(@item.servicerequest.ServiceRequestId)" id="accept_ser_btn" value="@item.servicerequest.ServiceRequestId">Accept</button>
            </td>
        </tr>
            }

        }*@
        @foreach (var item in Model)
        {
            if (item.Status == null)
            {
                var time = item.ServiceStartDate.AddHours(Convert.ToDouble(item.ServiceHours + item.ExtraHours)).ToString("HH:mm");
                <tr >
                    <td>
                        @item.ServiceRequestId
                    </td>
                    <td onclick="getServiceDetails(@item.ServiceRequestId)" id="service_details">
                        <div>
                            <span><img src="~/images/calendar2.png"></span>  <b>@item.ServiceStartDate.ToString("dd/MM/yyyy") </b>
                        </div>
                        <div>
                            <span><img src="~/images/layer-14.png"></span>  @item.ServiceStartDate.ToString("HH:mm") - @time
                        </div>
                    </td>

                    <td>
                        <div class="d-flex flex-column">
                            <div>
                                @item.User.FirstName @item.User.LastName
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-lg-2">
                                    <img src="~/images/layer-15.png">
                                </div>
                                <div class="col-lg-10">
                                    @if (item.ServiceRequestAddresses != null)
                                    {
                                        @foreach (var a in item.ServiceRequestAddresses)
                                        {
                                            
                                            @a.AddressLine1
                                            @a.AddressLine2<br />
                                            @a.PostalCode<br />
                                            @a.City  @a.State<br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="payment-clm">@item.TotalCost<span style="font-size:20px;">₹</span></td>

                    <td class="d-flex justify-content-around">
                        <button class="rescheule-btn" onclick="AcceptService(@item.ServiceRequestId)" id="accept_ser_btn" value="@item.ServiceRequestId">Accept</button>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<div class="modal fade" id="servicedetails" tabindex="1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" style="color:#646464"><b>Service Details</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body service-details-modal-body">

                <div class="d-flex justify-content-around">
                    <h3 id="serviceDate" class="font-weight-bold"></h3>
                    <h3 id="servicetime" class="font-weight-bold ml"></h3>
                </div>

                <div class="d-flex">
                    <p class="font-weight-bold">Duration: </p>
                    <p id="serviceduration"></p>
                    <p>Hrs</p>
                </div>
                <div class="d-flex">
                    <p class="font-weight-bold">Service Id: </p>
                    <p id="Service_id"></p>
                </div>
                @*<span class="font-weight-bold">Extra: </span>  <p id="extra_id"></p>*@
                <div class="d-flex">
                    <p class="font-weight-bold">Net amount:</p>
                    <p id="net_amount"></p>
                    <p>₹</p>
                </div>

                <hr>
                <div class="d-flex">
                    <p class="font-weight-bold">Service Address: </p>
                    <p id="Service_address"></p>
                </div>
                <div class="d-flex">
                    <p class="font-weight-bold">Billing Address:</p>
                    <p id="billing_address">Same as service address</p>
                </div>
                <div class="d-flex">
                    <p class="font-weight-bold">Phone: </p>
                    <p id="phone"></p>
                </div>
                <div class="d-flex">
                    <p class="font-weight-bold">Comments: </p>
                    <p id="comments"></p>
                </div>
                <hr>
                <div class="d-flex justify-content-around">
                    <button class="rescheule-btn"  onclick="AcceptService($('#accept_ser_btn').val())">Accept</button>
                </div>


            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="acceptReqModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" style="color:#646464"><b>Accept Service Request</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body address-modal-body">
                <div class="form-section">
                    <div class="text-center">
                        You accepted request successfully
                    </div>
                    <div>
                        <img src="~/images/included.png" style="display:block;margin:auto;height:40px;width:40px" />
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="rejectReqModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" style="color:#646464"><b>Accept Service Request</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body address-modal-body">
                <div class="form-section">
                    <div class="text-center">
                        Another service request has already been assigned which has time overlap with this service
                        request. You can’t pick this one!
                    </div>
                    <div>
                        <img src="~/images/not-included.png" style="display:block;margin:auto;height:40px;width:40px" />
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


<script type="text/javascript">
    function getServiceDetails(serviceId) {
        $.post("/Customer/getService", { Id: parseInt(serviceId) },
            function (data) {
                $('#serviceDate').html(data.serviceDate);
                $('#servicetime').html(data.serviceTime);
                $('#serviceduration').html(data.duration);
                $('#Service_id').html(data.serviceId);
                $('#net_amount').html(data.netAmount);
                $('#phone').html(data.phone);
                $('#email').html(data.email);
                $('#Service_address').html(data.serviceAddress);
                $('#comments').html(data.comments);
                $("#servicedetails").modal('show');
            });

    }
    function AcceptService(serviceId) {
        $.post("/ServiceProvider/AcceptService", { Id: parseInt(serviceId) },
            function (data) {
                if (data) {
                    $("#acceptReqModal").modal('show');
                }
                else {
                    $("#rejectReqModal").modal('show');
                }
                
            });
    }

    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>

