<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | HelperLand</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="~/images/white-logo-transparent-background-copy-4.png" type="image/icon type">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="site-header">

        <nav class="navbar nav navbar-expand-lg fixed-top bgcolor">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="~/images/white-logo-transparent-background.png" class="helperhand-logo">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item Rounded-Rectangle">
                        <a href="#" class="nav-link">
                            Book a Cleaner
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Price", "Price")" class="nav-link ">
                            Prices
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            Our Guarantee
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Contact", "Contact")" class="nav-link">
                            Contact us
                        </a>
                    </li>
                    <li class="nav-item Rounded-Rectangle">
                        <a href="" class="nav-link" type="button" data-toggle="modal" data-target="#loginModal">
                            Login
                        </a>
                    </li>
                    <li class="nav-item Rounded-Rectangle">
                        <a href="@Url.Action("BecomeHelper","BecomeHelper")" class="nav-link">
                            Become a Helper
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- The Modal -->
    <div class="modal fade" id="loginModal">
        <div class="modal-dialog modal-dialog-centered " style="max-width:370px">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Login to your account</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="post">
                        <div class="form-group ">
                            <input class="form-control" type="email" placeholder="Email" />
                        </div>
                        <div class="form-group ">
                            <input class="form-control" type="password" placeholder="Password" />
                        </div>
                        <div class="form-group ">
                            <input type="checkbox" />
                            <label>Remember me</label>
                        </div>

                        <div class="form-group">
                            <button class="login-btn">Login</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="" type="button" data-toggle="modal" data-target="#forgotModal" data-dismiss="modal">Forgot Password</a>
                    </div>
                    <div class="text-center">
                        Don't have an account <a href="@Url.Action("Create", "CreateUser")">Create an account</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="forgotModal">
        <div class="modal-dialog modal-dialog-centered " style="max-width:370px">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Forgot password</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="post">
                        <div class="form-group ">
                            <input class="form-control" type="email" placeholder="Email" />
                        </div>

                        <div class="form-group">
                            <button class="login-btn">Send</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="" type="button" data-toggle="modal" data-dismiss="modal" data-target="#loginModal">Login now</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="wrapper">

        @RenderBody()

    </div>


    <section class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 footer-logo">
                    <a href=#><img src="~/images/white-logo-transparent-background-copy-4.png" style="width: 120px;height: 92px;"></a>
                </div>
                <div class="col-sm-6 footer-links">
                    <p>
                        <a href="@Url.Action("Index", "Home")">HOME</a>
                        <a href="@Url.Action("About", "About")">ABOUT</a>
                        <a href="#">TESTIMONIALS</a>
                        <a href="@Url.Action("FAQ", "FAQ")">FAQS</a>
                        <a href="#">INSURANCE-POLICY</a>
                        <a href="#">IMPRESSUM</a>
                    </p>
                </div>
                <div class="col-sm-3 social-media-icons">

                    <a href=#><img src="~/images/ic-facebook.png" style="padding-right: 15px;"></a>
                    <a href=#><img src="~/images/ic-instagram.png"></a>
                </div>
            </div>
            <div class="footer-links-2">
                <hr style="border: #424242 1px solid;text-align: center;width: 1150px;">
            </div>

            <div class="footer-links-2">
                <p>©2018 Helperland. All rights reserved. <a href=# style="color: #9ba0a3;">Terms and Conditions</a> | <a href=# style="color: #9ba0a3;">Privacy Policy</a></p>
            </div>
        </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3960232895.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
